<div id="instrument">

<h1 id="title"class="text-center"> Instruments</h1></div>
<div id="menu">

<div class="dropdown">
   <p id="brass" class="column panel callout small-9 small-centered">Brass</p>
  <%@instruments.each do |instrument| %>
    <%if instrument.instrument_type === 'brass' %>
    <div id="dropdown-content" class="column panel callout small-9 small-centered">
      <p><%= link_to instrument.name, instrument_path(instrument)%></p>
    </div>
  <%end%>
<%end%>
</div>

<div class="dropdown">
<p id="strings" class="column panel callout small-9 small-centered">Strings</p>
 <%@instruments.each do |instrument| %>
   <%if instrument.instrument_type === 'orchestral strings' %>
   <div id="dropdown-content" class="column panel callout small-9 small-centered">
     <p><%= link_to instrument.name, instrument_path(instrument)%></p>
 </div>
 <%end%>
<%end%>
</div>

<div class="dropdown">
<p id="guitar" class="column panel callout small-9 small-centered">Guitar</p>
 <%@instruments.each do |instrument| %>
   <%if instrument.instrument_type === 'guitar family' %>
   <div id="dropdown-content" class="column panel callout small-9 small-centered">
     <p><%= link_to instrument.name, instrument_path(instrument)%></p>
 </div>
 <%end%>
<%end%>
</div>

<div class="dropdown">
  <p id="woodwinds" class="column panel callout small-9 small-centered">Woodwinds</p>

 <%@instruments.each do |instrument| %>
   <%if instrument.instrument_type === 'woodwinds' %>
   <div id="dropdown-content" class="column panel callout small-9 small-centered">
     <p><%= link_to instrument.name, instrument_path(instrument)%></p>
 </div>
 <%end%>
<%end%>
</div>

<div class="dropdown">
  <p id="percussion" class="column panel callout small-9 small-centered">Percussion</p>
  <%@instruments.each do |instrument| %>
  <%if instrument.instrument_type === 'percussion' %>
    <div  id="dropdown-content" class="column panel callout small-9 small-centered">
      <p><%= link_to instrument.name, instrument_path(instrument)%></p>
    </div>
  <%end%>
  <%end%>
</div>
</div>
