<h1 id="individual-instrument" class="text-center"><%= @instrument.name %></h1>
  <div id="list-page" class="column panel callout small-9 small-centered">
    <%User.all.each do |user|%>
      <%user.instruments.each do |piece|%>
        <%if piece.name === "#{@instrument.name}" %>
        <div class="user-tab">
            <img class="image-tile" src="<%=user.profile_photo.url%>"</img>
            <p class="name-tile"><%= link_to user.first_name, user_path(user)%> <%= link_to user.last_name, user_path(user) %></p>
            <p id="description-tile" class="description-tile"><%=user.description%></p>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
